@font-face {
    font-family: 'Candelabra';
    src: url('/portfolio/fonts/CandelabraRegular.woff2') format('woff2'),
        url('/portfolio/fonts/CandelabraRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
    background-image: url('/portfolio/img/black-damask-2.webp');
    background-attachment: fixed;
    font-family: 'Rokkitt';
}

h1 {
    font-family:'Candelabra'; 
    color: #dadedf;
    font-size: 90px;
    font-weight: 400;
    line-height: 70px;
    margin-top: 0px;
    margin-bottom: 5px;
}
h2 {
    color: #dadedf;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}
h3 {
    margin: 0px;
}
.heading h3 {
    font-size: 50px;
    font-weight: 700;
    color: #dadedf;
    text-align: center;
    margin-bottom: 40px;
}
h4 {
    margin: 0px;
}
p {
    font-size: 20px;
    color: #dadedf;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0px;
    }
}
a {
    color: inherit;
}

.container {
    padding: 0px 40px;
}
.flex-standard {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.dark-bg {
    background: #010101; 
    padding: 100px 0px; 
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
}

/* Header Styles */
header {
    background: #010101; 
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
    padding: 20px 0px;

    .logo {
        color: #dadedf;
        font-weight: 900;
        font-size: 24px;
    }
}
nav {
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0px;
        padding: 0px;
        li {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color: #dadedf;
            padding: 0px 20px;
            a {
                position: relative;
                text-decoration: none;
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 1px;
                    bottom: -1px;
                    left: 0;
                    background-color: #3fff00;
                    transform: scaleX(0);
                    transform-origin: top left;
                    transition: transform 0.3s ease;
                }
                &:hover::before {
                    transform: scaleX(1);
                }
            }
            
            &.social-icon {
                padding: 0px 5px;
            }
        }
    }
}

/* Introduction Block Styles */
.introduction-block {
    position: relative;
    padding: 150px 0px 250px;
    max-width: 900px;
    margin: 0 auto;
}
.header-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.button-parent {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}
.button--fancy {
    position: relative;
    display: inline-block;
    color: #dadedf;
    font-family:'Candelabra';
    font-size: 36px;
    line-height: 1;
    text-decoration: none;
}
.button--fancy::after {
    display: block;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 120%;
    height: 40px;
    background-image: url('/portfolio/img/damask-border-bottom.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    max-width: 1500px;
    margin: 0 auto;
}
.feature {
    background-color: transparent;
    perspective: 1000px;
}
.feature-inner {
    color: #dadedf;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 700px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.feature:hover .feature-inner {
    transform: rotateY(180deg);
}
.feature-front, .feature-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 50% 28%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background-color: #000;
}
.feature-front::after, .feature-back::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url('/portfolio/img/damask-frame.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.feature-front img {
    opacity: 0.8;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.feature-back {
  background-color: #000;
  transform: rotateY(180deg);
}
.feature-inner h4 {
    font-size: 22px;
    font-weight: 600;
}
.feature-inner .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px 0px;
}
.feature-inner .tags span {
    display: block;
    background: #dadedf;
    color: #121212;
    padding: 3px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
}
.placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.placeholder h4 {
    font-family: 'Candelabra';
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    text-align:center;
}

.contact {
    padding: 100px 0px;
}

/* Small Laptop & Landscape Tablet */
@media screen and (max-width:1200px) {

}

/* Portrait Tablet & Landscape Mobile */
@media screen and (max-width:800px) {
    .header-block {
        flex-wrap: wrap;
    }
}

/* Large Portrait Mobile */
@media screen and (max-width:500px) {
    .introduction-block {
        padding: 50px 0px 100px;
    }
    .header-block {
        gap: 40px;
    }
    .button-parent {
        position: relative;
        bottom: initial;
        text-align: left;
        padding-left: 20px;
        margin-top: 20px;
    }
    .features { 
        grid-template-columns: 1fr;
        gap: 40px;
    }
}