@font-face {
    font-family: 'Candelabra';
    src: url('CandelabraRegular.woff2') format('woff2'),
        url('CandelabraRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

